@import 'https://fonts.googleapis.com/css?family=Oswald';


body {
    background-color: #bdc3c7;
    font-family: 'Oswald', sans-serif;
}

#content {
    background-color: #fff;
    width: 595px;
    margin: 7% auto;
    border-radius: 0 0 15px 15px;
}
#content #titre h1 {
    color: #fff;
    background-color: #e67e22;
    margin-bottom: 0;
    padding: 5%;
}
#content #corps p {
    padding-bottom: 5%;
    margin: 5%;
}
#content #tableau {
    margin: 5%;
}
#content #corps table {
    border: 1px solid #7f8c8d;
    width: 100%;
    margin: auto;
    border-collapse: collapse; /* supprime l'espacement entre les cellules */
}
#content #corps table thead {
    background-color: #f1c40f;
    font-size: 1.3em;
}
#content #corps table thead tr th {
        padding: 3%;
}
#content #corps table tbody {
    background-color: #ecf0f1;
}
#content #corps table tbody td {
    padding: 5%;
}
#content #corps #info {
 text-align: right;
}
#content #corps #info a {
    text-decoration: none;
    color: inherit;
    font-weight: bolder;
    background-color: #f1c40f;
    padding: 2%;
}
#content #corps #info a:hover {
    background-color: #16a085;
    color: #fff;
}
