body {
    background-color: #EFF3F4;
    font-family: 'Montserrat', sans-serif;
}
/*     Carte de visite       */
#content {
    background: #fff;
    width:  550px;
    margin: 10% auto ;
    box-shadow: 4px 4px 4px #888888;
}

/*       Partie identité        */
#content #identite {
    padding: 5% 5% 2% 5%;
}
#content #identite #name {
    text-align: center;
    font-family: 'Galada', cursive;
}
#content hr {
    width: 80%;
}
#content #identite #metier {
    text-align: center;
}
#content #identite #metier h2 {
    color: #888888;
}
#content #identite #metier h4 {
    color: #ccc;
    margin-top: 0;
}
/*                Fin artie identité                 */

/*                Partie contact                     */
#content #contact {
    background: linear-gradient(to right, #fdfad5, #fbf6b5, #fbf491, #fdf46e, #fff44c);
    color: black;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
#content #contact #email a {
    text-decoration: none;
    color: inherit;
}
#content #contact #email a:hover {
    color: #ff9b4c;
}
/*                Fin partie contact                     */

/*               Fin style carte de visite                  */
